* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background: url('https://w0.peakpx.com/wallpaper/845/526/HD-wallpaper-soccer-stadium-top-view-8k-stadium-soccer-football-sports-graphy-aerial.jpg');
	background-repeat: no-repeat;
	background-size: cover;



	height: 100vh;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
.football-board-container {
	display: grid;
	grid-template-columns: auto 1fr;
}

.football-board {
	display: grid;
	grid-template-columns: repeat(18, 50px);
	grid-template-rows: repeat(10, 50px);
}

.football-square {
	position: relative;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}

.label {
	font-size: 10px;
	position: absolute;
	top: 5px;
	left: 5px;
	font-weight: bold;
	pointer-events: none;
	transition: 0.2s ease-out;
}
.label::selection {
	background-color: transparent;
}

.even {
	background-color: #00ff48;
	color: green;
}

.odd {
	background-color: #06eb3f;
	color: green;
}

.white {
	background-color: rgba(255, 255, 255, 0.129);
	color: rgba(255, 255, 255, 0.125);
}

.right-column,
.left-column {
	background-color: yellow;
	color: yellow;
}

.player {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
	z-index: 100;
	color: white;
	font-family: sans-serif;
}

.player .label {
	color: white;
	font-weight: bold;
}
.football-square.drag-over {
	border: 2px dashed #000; /* Add a dashed border to indicate the drag-over effect */
}

.ball {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	background-color: white;
	position: absolute;
	z-index: 3;
}
.ball-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.player-field,
.adjacent-highlight {
	color: black;
}

.player-field::before,
.adjacent-highlight::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 0, 0, 0.5);
	pointer-events: none;
}

.player-field::before {
	background-color: rgba(255, 0, 0, 0.689) !important;
}

.player-field > .label,
.adjacent-highlight .label {
	font-size: 15px;
	transition: 0.2s ease-in;
}



.second-third-radius::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	pointer-events: none;

    background-color: rgba(17, 53, 17, 0.386) !important; /* Adjust the RGBA values for the desired shade */
}

.goalie-area{
	color: rgb(20, 20, 20);
    background-color: #05970a !important;
}


/* Button Styles */
button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4f36a2; /* Green */
    color: white;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* Button Hover Effect */
button:hover {
    background-color: #21aeb6; /* Darker Green */
}




.has-ball {
	position: relative;
}

.has-ball > .ball {
	position: absolute;
	left: 0;
	bottom: 0;
}

.b-team > .ball {
	left: 65%;
}
