* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.football-board-container {
	display: grid;
	grid-template-columns: auto 1fr;
}

.football-board {
	display: grid;
	grid-template-columns: repeat(18, 50px);
	grid-template-rows: repeat(10, 50px);
}

.football-square {
	position: relative;
	width: 50px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.label {
	font-size: 10px;
	position: absolute;
	top: 5px;
	left: 5px;
	font-weight: bold;
}

.even {
	background-color: #00ff48;
	color: green;
}

.odd {
	background-color: #06eb3f;
	color: green;
}

.white {
	background-color: white;
	color: white;
}

.right-column,
.left-column {
	background-color: yellow;
	color: yellow;
}

.player {
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
	z-index: 100;
	color: white;
	font-family: sans-serif;
}

.player .label {
	color: white;
	font-weight: bold;
}
.football-square.drag-over {
	border: 2px dashed #000; /* Add a dashed border to indicate the drag-over effect */
}
